/* Grid */
body {
    width: 60em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-areas: "header header"
                         "menu   related"
                         "news   related"
                         "footer related";
}

/* Header */
body > header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr auto;
}

body > header h1 {
    grid-column-end: span 2;
}

/* Nav */
#menu {
    grid-area: menu;
}

#menu ul {
    display: flex;
}

#menu li {
    flex-grow: 1;
}

/* Aside */
#related {
    grid-area: related;
}

/* Section */
#news {
    grid-area: news;
}

#news footer {
    display: flex;
}

#news footer .author {
    flex-grow: 1;
}

/* Footer */
body > footer {
    grid-area: footer;
    margin-right: 1em;
}
