body {
    display: grid;
    grid-template-areas: "yellow yellow"
                         "blue   orange"
                         "blue   red"
                         "blue   green";
}

#green {
    grid-area: green;
}

#yellow {
    grid-area: yellow;
}

#yellow ul {
    display: flex;
}

#yellow li:first-child {
    flex-grow: 3;
}

#yellow li {
    flex-grow: 1;
}

#orange {
    grid-area: orange;
}

#red {
    grid-area: red;
}

#red ul {
    display: flex;
    flex-direction: row-reverse;
}

#red li {
    flex-grow: 1;
}

#blue {
    grid-area: blue;
}